@import url('https://fonts.googleapis.com/css?family=Karla');
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li.active > a {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a:hover {
  background-color: transparent;
  color: #fff;
}
.jumbotron {
  background-color: transparent;
  color: #fff;
}
.btn {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  margin: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:hover {
  color: #000;
  outline: none;
  background-color: #fff;
}
.btn.white {
  color: #000;
  background-color: #fff;
  border: 2px solid #fff;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  margin: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn.white:hover,
.btn.white:focus,
.btn.white:active,
.btn.white:active:hover {
  color: #fff;
  outline: none;
  background-color: transparent;
}
.btn.black {
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  margin: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn.black:hover,
.btn.black:focus,
.btn.black:active,
.btn.black:active:hover {
  color: #fff;
  outline: none;
  background-color: #000;
}
.btn.red {
  color: #e74c3c;
  background-color: transparent;
  border: 2px solid #e74c3c;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  margin: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn.red:hover,
.btn.red:focus,
.btn.red:active,
.btn.red:active:hover {
  color: #fff;
  outline: none;
  background-color: #e74c3c;
}
.btn.green {
  color: #2ecc71;
  background-color: transparent;
  border: 2px solid #2ecc71;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  margin: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn.green:hover,
.btn.green:focus,
.btn.green:active,
.btn.green:active:hover {
  color: #fff;
  outline: none;
  background-color: #2ecc71;
}
.btn.grey {
  color: #95a5a6;
  background-color: transparent;
  border: 2px solid #95a5a6;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  margin: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn.grey:hover,
.btn.grey:focus,
.btn.grey:active,
.btn.grey:active:hover {
  color: #fff;
  outline: none;
  background-color: #95a5a6;
}
#site-wrapper {
  padding-left: 0px;
  padding-right: 0px;
}
#site-wrapper #site-content #site-cover {
  padding-top: 125px;
  background-image: url('../images/night-sky.jpg');
  height: 600px;
}
#site-wrapper #site-content #site-cover #tagline {
  margin-bottom: 125px;
}
#site-wrapper #site-content #site-features .box {
  padding-top: 50px;
  padding-bottom: 50px;
}
#site-wrapper #site-content #site-features .box .heading {
  font-size: 2em;
  display: inline;
  position: relative;
}
#site-wrapper #site-content #site-features .box .heading:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 150%;
  left: 0%;
  background-color: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 1s;
  transition: all 1s;
}
#site-wrapper #site-content #site-features .box.on-hover:hover .heading:before {
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
}
#site-wrapper #site-content #site-features .box > .row {
  padding-top: 50px;
}
#site-wrapper #site-content #site-features .box > .row .cols {
  padding: 10px;
}
#site-wrapper #site-footer #footer-info {
  padding-bottom: 10px;
}
body {
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  text-align: center;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
ul {
  padding-left: 0px;
  list-style: none;
}
a {
  color: #244D61;
  margin-left: 10px;
  margin-right: 10px;
}
p {
  margin: 20px;
}
