// navbar-default
.navbar-default {
    background-color: transparent;
    border-color: transparent;

    // navbar-brand
    .navbar-brand {
        color: #fff;
        &:focus,
        &:hover {
            color: #fff;
        }
    }

    // navbar-nav
    .navbar-nav {
        &>li {

            &>a, &.active>a {
                color: #fff;
                background-color: transparent;
                &:focus,
                &:hover {
                	background-color: transparent;
                    color: #fff;
                }
            }
        }
    }
}

// jumbotron
.jumbotron {
	background-color: transparent;
	color: #fff;
}
