
// site-wrapper
#site-wrapper {
	padding-left: 0px;
	padding-right: 0px;

	// site-header
	#site-header {

	}

	// site-content
    #site-content {

    	// site-cover
        #site-cover {
        	padding-top: 150px;
            background-image: url('../images/night-sky.jpg');
            height: 600px;
        }
    }
}
